$mobile: 480px;
$navbarHeight: 70px;

.screen {
  max-width: $mobile;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-color: #0a1317;
  color: rgb(195, 195, 195);
}

.main {
  height: calc(100% - $navbarHeight);
  display: flex;
  flex-direction: column;
}